<div class="wrapper text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <div class="card">
          <div id="cocktail-name">
            <h3> <%= @cocktail.name.capitalize %> </h3>
          </div>
          <div id="doseslist">
            <ul>
              <% @doses.each do |dose| %>
                <li><%= dose.ingredient.name.capitalize %>: <%= dose.description %> <%= link_to (cocktail_dose_path(@cocktail.id, dose.id)),  method: 'delete' do %><i class='fa fa-times' ></i><%end %></li>
              <% end %>
            </ul>
          </div>
          <div id="newdosebtn">
            <%= link_to 'Add an instruction', new_cocktail_dose_path(@cocktail.id), class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-0 col-xs-4">
        <div id="back">
          <%= link_to 'Back to cocktail list', cocktails_path, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
